//fonts//
$main-font: 'Montserrat', sans-serif;
$second-font: 'Roboto', sans-serif;
$rubric-font: 'Kaushan Script', cursive;

//colors//
$white-color: #ffffff;
$bg-color: #95e1d3;
$link-color: #f38181;
$text-color-1: #333333;
$hover-svg-color: #f38181;
$team-text: #999999;
$button-color: #fce38a;
