* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    box-sizing: border-box;
    font-family: 'Kaushan Script', cursive;
    font-family: 'Montserrat', sans-serif;
    font-family: 'Roboto', sans-serif;
}

img {
    width: 100%;
    height: auto;
    object-fit: cover;
    display: block;
}

.container {
    width: 1201px;
    margin: 0 auto;
    padding: 0;
    box-sizing: border-box;
}


/* Header */

.page__nav {
    min-height: 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 80px;
}

.nav {
    display: flex;
    width: 491px;
    justify-content: space-between;
    flex-wrap: wrap;
    position: relative;
}

.nav__link {
    padding: 25px 0;
    text-decoration: none;
    font-family: 'Montserrat', sans-serif;
    text-transform: uppercase;
    color: #95e1d3;             
    font-size: 14px;
    line-height: 17px; 
    font-weight: 400;
    position: relative;
}

.nav__link::after {
    display: block;
    content: '';
    width: 100%;
    position: absolute;
    left: 0;
    height: 3px;
    background: #f38181;
    visibility: hidden;
    opacity: 0;
    transition: .2s ease-in-out;
    transform: translateY(-10px);
    margin: 12px auto 0;  
}

.nav__link:hover::after {
    bottom: 20;
    opacity: 1;
    visibility: visible;
    transform: none;
    transition: .2s linear;
}

.page__nav a:hover {
    color: #f38181;  
}


/* Main */

.text1 {
    display: flex;
    justify-content: center;
    color: #333333;
    font-family: 'Kaushan Script', cursive;
    font-size: 24px;
    font-weight: 400;
    line-height: 29px;
    padding: 0 0 20px;
}

.text2 {
    text-align: center;
    color: #333333;
    font-family: 'Montserrat', sans-serif;
    font-weight: 700;
    font-size: 30px;
    line-height: 36px;
    text-transform: uppercase;
    margin: 0 0 60px;
}

.text2::after {
    content: '';
    display: block;
    width: 60px;
    height: 3px;
    background: #f38181;
    margin: 20px auto 0;
}

.features__list {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    list-style: none;
    margin: 0;
}

.features__item {
    flex: 0 0 381px;
    background-repeat: no-repeat;
    background-position: 0 0;
    padding-left: 60px;
    padding-bottom: 90px;
}

.features__item:nth-of-type(1) {
    background-image: url("./img/alarm-clock-icon.png");
}

.features__item:nth-of-type(2) {
    background-image: url("./img/line-graph-icon.png");
}

.features__item:nth-of-type(3) {
    background-image: url("./img/computer-icon.png");
}

.features__item:nth-of-type(4) {
    background-image: url("./img/book-icon.png");
}

.features__item:nth-of-type(5) {
    background-image: url("./img/home-icon.png");
}

.features__item:nth-of-type(6) {
    background-image: url("./img/digital-icon.png");
}

.features__name {
    font-family: 'Montserrat', sans-serif;
    font-size: 14px;
    text-transform: uppercase;
    line-height: 17px; 
    font-weight: 400;
    color: #333333;
    padding-bottom: 15px;
}

.features__text {
    font-family: 'Roboto', sans-serif;
    font-size: 15px;
    line-height: 24px; 
    font-weight: 400;
    color: #999999;
}


/* Team */

.team__text {
    display: flex;
    justify-content: center;
    font-family: 'Roboto', sans-serif;
    font-size: 15px;
    line-height: 24px; 
    font-weight: 400;
    color: #999999;
    text-align: center;
    padding: 0 110px 90px;
}

.team__list {
    display: flex;
    justify-content: space-between;
    list-style: none;
    margin: 0;
    padding: 0;
}

.team__list__image{
    width: 381px;
    transition: transform 0.4s linear;
}

.team__list__image:hover {
    box-shadow: 10px 10px 0 0 #95e1d3;
    transform: translate(10px, 10px);
}

.team__list__item:hover .team__list__image {
    transform: translate(-10px, -10px);
}

.overlay__item {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    opacity: 0;
    transition: .4s linear;
}

.team__list__item:hover .overlay__item {
    background-image: linear-gradient(90deg, rgba(252,227,138, .8) 0%, rgb(243,129,129, .8) 100%);
    opacity: 1;
}

.button__item {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    flex-direction: row;
    width: 228px;
    justify-content: space-between;
}

.button__item button:hover {
    background-color: #95e1d3;
    transition: .2s linear;
}

.button__item button{
    width: 56px;
    height: 56px;
    background-repeat: no-repeat;
    background-position: center;
    background-color: #fce38a;
    border: none; 
    outline: none; 
    cursor: pointer; 
}

.facebook-button {
    background-image: url(./img/facebook-icon.png);
}

.twitter-button {
    background-image: url(./img/twitter-icon.png);
}

.pinterest-button {
    background-image: url(./img/pinterest-icon.png);
}

.instagtam-button {
    background-image: url(./img/instagram-icon.png);
}

.team__list__image {
    position: relative;
}

.team__list__name {
    display: flex;
    justify-content: center;
    font-family: 'Montserrat', sans-serif;
    font-size: 14px;
    text-transform: uppercase;
    line-height: 17px; 
    font-weight: 400;
    color: #333333;
    padding: 30px 0 15px;
}

.team__list__occupation {
    display: flex;
    justify-content: center;
    font-family: 'Roboto';
    font-style: italic;
    font-size: 15px;
    line-height: 24px; 
    font-weight: 300;
    color: #999999;
    padding-bottom: 80px;
}


/* Footer */

.page__footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 67px;
    border-top: 1px solid #e5e5e5;
}

.footer__info {
    font-family: 'Montserrat', sans-serif;
    font-size: 14px;
    color: #333333;
    font-weight: 400;
}

.footer__info a {
    color: #f38181;
    font-family: 'Montserrat', sans-serif;
    font-size: 14px;
    font-weight: 400;
    text-decoration: none;
}

.footer__subscribe input {
    font-family: 'Roboto';
    font-style: italic;
    font-weight: 300;
    font-size: 15px;
    line-height: 25px; 
    color: #e7e7e7;
    padding: 11px;
    width: 230px;
    border-width: 1px;
    border-style: solid;
    margin-right: -5px;
}

.email::placeholder {
    color: #cccccc;
}

.button__subscribe {
    font-family: 'Montserrat', sans-serif;
    font-size: 14px;
    font-weight: 700;
    text-transform: uppercase;
    background-color: #95e1d3;
    color: #ffffff;
    border: none; 
    outline: none; 
    cursor: pointer; 
    padding: 1rem 2rem;
}